<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <!-- Add jQuery route -->
  <!-- <script type="text/javascript" src="../public/scripts/client.js"></script> -->

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

</head>

<body>
  <%- include('partials/_header') %>
  <div>
    <h1><%= map.title %></h1>
    <p><%= map.username %></p>
    <h2><%= map.description %></h2>
  </div>

  <div id="map-container">
    <div id="map">
      <i class="fa-solid fa-heart"></i>
    </div>
  </div>

  <div>
    <form id="add-marker-form" action="/api/maps/<%= map.id %>/markers" method="POST">
      <h2>Add a new marker!</h2>
     <div>
      <label for="lat">Latitude:</label>
      <input
      class="marker-lat"
      type="text"
      name="lat"
    />
     </div>

      <div>
       <label for="long">Longitude:</label>
       <input
       class="marker-long"
       type="text"
       name="long"
     />
      </div>

      <div>
        <label for="title">Title:</label>
        <input
        class="marker-title"
        type="text"
        name="title"
      />
       </div>

       <div>
        <label for="description">Description:</label>
        <input
        class="marker-description"
        type="text"
        name="description"
      />
       </div>

       <div>
        <label for="image_url">Image URL:</label>
        <input
        class="marker-image-url"
        type="text"
        name="image_url"
      />
       </div>

       <button type="submit">Add Marker</button>

    </form>

    <div>
      <form id="edit-marker-form" action="/api/maps/<%= map.id %>/markers/:marker_id" method="POST">
      <h2>Edit marker</h2>
     <div>
      <label for="lat">Latitude:</label>
      <input
      class="edit-marker-lat"
      type="text"
      name="lat"
    />
     </div>

      <div>
       <label for="long">Longitude:</label>
       <input
       class="edit-marker-long"
       type="text"
       name="long"
     />
      </div>

      <div>
        <label for="title">Title:</label>
        <input
        class="edit-marker-title"
        type="text"
        name="title"
      />
       </div>

       <div>
        <label for="description">Description:</label>
        <input
        class="edit-marker-description"
        type="text"
        name="description"
      />
       </div>

       <div>
        <label for="image_url">Image URL:</label>
        <input
        class="edit-marker-image-url"
        type="text"
        name="image_url"
      />
       </div>

       <button type="submit">Edit Marker</button>

    </form>

</body>

<script>
  let currentMap;
  $(document).ready(() => {
    // stringify our favouriteMap promise
    const favouriteMaps = <%- JSON.stringify(favouriteMap) %>;
    // if favouriteMaps has 1 or more items inside object add the class 'active'
    if(favouriteMaps.length >= 1) {
      $('#map-container i').addClass('active');
    }

    // stringify the map and markers data pulled from database
    const data = <%- JSON.stringify(mapData) %>;
    // load map and marker data from database to the map
    currentMap = loadMap(data);
    console.log('current map -----', currentMap);

    // when the 'Add marker' form is submitted
    $('#add-marker-form').on("submit", function (e) {
      // prevent redirection
      e.preventDefault();
      // serialize form data
      let formData = $(this).serialize();
      console.log(formData);
      // post request to add the new marker data to the database
      $.ajax({
        method: "POST",
        url: "/api/maps/<%= map.id %>/markers",
        data: formData,
        success: function(response) {
          // load new marker into map
          $.get("/api/maps/<%= map.id %>")
          .then(mapDataResponse => {
            //remove current map on page
            currentMap.remove();
            //add all markers, including the new marker, to the map
            loadMap(mapDataResponse);
          })
        }
      })
    })

    $('#map-container i').on('click', () => {
      // if we click on the heart and its not in database add it
      // const favouriteMaps = <%- JSON.stringify(favouriteMap) %>;

      console.log('favouriteMaps: ', favouriteMaps);

      // if object is empty add to favourites
      // if (!favouriteMaps['<%= map.id %>'])
      if (!favouriteMaps['<%= map.id %>']) {

      $.ajax({
        method: "POST",
        url: "/api/maps/favourite/<%= map.id %>",
        success: function(data) {
          console.log('Favourited successfully', data);

          // if post to add maps is succesful toggle .active
          $('#map-container i').toggleClass('active');
          location.reload();
        },
        error: function(xhr, status, error) {
          console.error('Error favouriting map: ', error);
        }
      })
    } else {
      // otherwise delete it

      $.ajax({
        method: "POST",
        url: "/api/maps/favourite/<%= map.id %>/delete",
        success: function(data) {
          console.log('Deleted successfully', data);
          // location.reload();
        }
      })
    }
      })


    currentMap.on('popupopen', function () {
    $(document).on('click', '#edit-marker-btn', function (e) {
      e.preventDefault();
      let markerID = $(this).data('marker-id');

      $('#edit-marker-form').on("submit", function (e) {
      // prevent redirection
      e.preventDefault();
      // serialize form data
      let formData = $(this).serialize();
      console.log(formData);
      $.post(`/api/maps/<%= map.id %>/markers/${markerID}`, formData)
        .then(() => {
          $.get("/api/maps/<%= map.id %>")
            .then(mapDataResponse => {
              console.log("mapDataResponse-------------", mapDataResponse);
              currentMap.remove();
              currentMap = loadMap(mapDataResponse);
            })
          });
        });
      })
    })

});


 </script>

</html>

