<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

</head>

<body>
  <%- include('partials/_header') %>

  <div class="profile-container">

    <div class="profile-photo-container">
        <img class="profile-img" src="<%= user.profile_photo_url %>" alt="Profile Photo">
    </div>

    <div class="profile-info">
        <h2 class="profile-handle"><%= user.username %></h2>
        <p class="bio"><%= user.bio %></p>
    </div>

  </div>

<main>
  <div class="maps-container">

    <!-- Maps column is under My Maps -->
    <div class="maps-column">
        <h3>My Maps</h3>
            <!-- loop to get each map the user has created -->
            <div class="all-maps">
              <% for (let map of user.owned) { %>
                <div class="map-container">
                  <a href="/maps/<%= map.id %>">
                    <img class="map-image" src="<%= map.image_url %>" alt="<%= map.title %> Image">
                    <div class="map-title">
                      <%= map.title %>
                    </div>
                  </a>
                </div>
                <% } %>
            </div>
    </div>

    <!-- Favourites section -->
    <div class="maps-favourites-column">
        <h3>My Favorite Maps</h3>
          <!-- loop to get each map the user has favourited -->
          <div class="all-maps">
            <% for (let map of user.favourites) { %>
              <div class="map-container">
                <a href="/maps/<%= map.id %>">
                  <img class="map-image" src="<%= map.image_url %>" alt="<%= map.title %> Image">
                  <div class="map-title">
                    <%= map.title %>
                  </div>
                </a>
              </div>
              <% } %>
          </div>
    </div>

</div>
</main>

</body>

</html>



