<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

</head>

<body>
  <%- include('partials/_header') %>

  <div class="profile-container">
    <div class="profile-photo">
        <img src="<%= user.profile_photo_url %>" alt="Profile Photo">
    </div>
    <div class="profile-info">
        <h2><%= user.username %></h2>
        <p><%= user.bio %></p>
    </div>
  </div>

  <div class="maps-container">
    <div class="maps-column">
        <h3>My Maps</h3>
        <div>
            <!-- loop to get each map the user has created -->
            <% for (let map of user.owned) { %>
              <a href="/maps/<%= map.id %>">
                <article>
                    <h1><%= map.title %></h1>
                    <p><%= user.username %></p>
                  </article></a>
                <% } %>
              
            </div>
    </div>
    <div class="maps-favourites-column">
        <h3>My Favorite Maps</h3>
        <div>
          <!-- loop to get each map the user has favourited -->
          <% for (let map of user.favourites) { %>
            <a href="/maps/<%= map.id %>">
              <article>
                  <h1><%= map.title %></h1>
                </article></a>
              <% } %>
            
          </div>
    </div>
</div>

</body>

</html>



